*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

#logo {
    font-size: 1.5em;
    font-weight: bold;
    color: orangered;
    text-decoration: none;
    text-transform: uppercase;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    text-transform: uppercase;
    padding: 20px 0px;
    letter-spacing: 2px;
}

nav.right-side {
    background-color: #000;
    padding: 10px;
}

.hr{
    display: none;
}   

.hamburger_container input{
    display: none;
    }
    
    .hamburger_container label{
    font-size: 30px;
    cursor: pointer;
    color: red;
    position: fixed;
    right: 10px;
    top:30px ;
    display: none;
    }

    .hamburger_container p{
        font-size: 30px;
        cursor: pointer;
        color: #fff;
        padding: 30px 10px;
        display: none;
        text-transform: uppercase;
        }
    
    .hide_nav_container{
    display: none;
    height: 70vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: whitesmoke;
    }
    
    .hide_nav_container nav{
        display: contents;
    margin-top: 10%;
    background-color: whitesmoke;
    }
    
    .hide_nav_container nav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #8a8a8a;
    padding-top: 40px;
    }  
    
    .hide_nav_container ul li{
    list-style: none;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer; 
    }
    
    .hide_nav_container ul li a{
    text-decoration: none;
    color: black;
    margin: 30px;
    letter-spacing: 3px;
    }
    
    .hide_nav_container a:hover {
    color: red;
    }
    
    .hide_nav_container .nav  .nav-link :hover {
    color: blue; 
    }

@media (max-width: 768px) {
    header {
        display: none;
    }

    .hamburger_container {
        background-color: #1F2022;
        }
    
    .hamburger_container label{
        display: block;
        z-index: 20;
        }
    
        input:checked ~ .hide_nav_container {
        display: block;
        color: black;
        }
        .hamburger_container p {
            display: block;
        }
}